* {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: "Satisfy", cursive;
}

body {
}

.navigation {
  text-align: center;
  background-color: #fbbf24;
  padding: 2rem;
}

.container {
  padding: 3rem 0;
  max-width: 600px;
  margin: auto;
}

.textArea {
  outline: none;
  width: 100%;
}

#translate {
  margin: 1rem 0;
  background-color: #fbbf24;
  padding: 1rem;
  border-style: none;
}

#output-text {
  margin: 1rem 0;
  width: 100%;
  height: 5rem;
  border: 1px solid black;
}

.footer {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fbbf24;
}
